# Configuração do Banco de Dados PostgreSQL
DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASS=

# Configuração da API do Zendesk
ZENDESK_SUBDOMAIN=
ZENDESK_EMAIL=
ZENDESK_TOKEN=token

# Configuração de Alertas do Slack (Webhook n8n)
SLACK_WEBHOOK_URL=Webhook-Slack

# Configurações Adicionais do Robô
HEADLESS=True