# Configuração do Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=crion-robo
DB_USER=postgres
DB_PASS=sua_senha_aqui

# Configuração da API do Zendesk
ZENDESK_SUBDOMAIN=affixatendimento
ZENDESK_EMAIL=Supervisao@headsetbrasil.com
ZENDESK_TOKEN=Basic aW5mcmFlc3RydXR1cmFAYWZmaXguY29tLmJyL3Rva2VuOjk1ZVRmQVVseEtWRjlEajNMSjdvM3Ywd1FlZGt4SnRJV0p5a3RZV0M=

# Configuração de Alertas do Slack (Webhook n8n)
SLACK_WEBHOOK_URL=https://n8n-n8n.xjbony.easypanel.host/webhook/2fb0521d-9511-41a5-adc1-b1c272a157ec

# Configurações Adicionais do Robô
HEADLESS=True
